
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .btn {
        width: 10%;
        margin-top: 10px;
    }
</style>

<h2>Edit</h2>
@using (Html.BeginForm("Updatedata", "student"))
{
    <input type="hidden" name="sid" value="@Model.sid" />
    <label>Name:</label>
    <input type="text" name="sname" />
    <label>address:</label>
    <input type="text" name="saddress" />
    <label>contact:</label>
    <input type="text" name="contacts" />
    <button type="submit" name="submit" class="btn btn-success" value="save">Submit</button>
    
}
